*.o
*.a
.deps
/INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.status
/configure
config.log
stamp-h1
src/vcs
*.tar.gz
debian/files
debian/substvars.*
./changelog
*.deb
test-root
*.gcda
*.gcno
*.gcov
tests/t-version
tests/*.log
tests/*.trs
tests/t-execute
tests/t-ltfilename
tests/t-utils
TAGS
tests/t-xml
tests/t-pager
debian/vcs
config.cache
tests/t-editor
*~
products
