#! /usr/bin/make -f
#
# Copyright (C) 2009, 2010 Richard Kettlewell
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)
export CPPFLAGS CFLAGS CXXFLAGS LDFLAGS

# Options to configure.  This can be overridden by the caller if necessary.
CONFIGURE=--prefix=/usr --mandir=/usr/share/man EDITOR=editor

# Install commands.  You wouldn't normally override these.
INSTALL=install
INSTALL_DATA=$(INSTALL) -p -o root -g root -m 644
INSTALL_PROGRAM=$(INSTALL) -p -o root -g root -m 755
INSTALL_SCRIPT=$(INSTALL) -p -o root -g root -m 755
MKDIR=mkdir -p -m 755

# Set DEB_BUILD_OPTIONS=noopt to produce a non-optimized build.
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS=-O0 -g
else
CFLAGS=-O2 -g
endif
export CFLAGS

# Set DEB_BUILD_OPTIONS=nostrip to install debuggable executables.
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

# Set DEB_BUILD_OPTIONS=parallel=N to do make -jN
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
PARALLEL = -j$(NUMJOBS)
endif

export INSTALL_DATA
export INSTALL_SCRIPT
export INSTALL_PROGRAM

FAKEROOT=fakeroot

build:
	@set -e;if test ! -f configure; then \
	  echo ./autogen.sh;\
	  ./autogen.sh;\
	fi
	./configure ${CONFIGURE} ${CONFIGURE_EXTRA}
	$(MAKE) ${PARALLEL}

pkg-vcs: build
	 rm -rf debian/vcs
	 $(MKDIR) debian/vcs/DEBIAN
	 $(MKDIR) debian/vcs/usr/share/doc/vcs
	 $(INSTALL_DATA) debian/copyright CHANGES.html \
		debian/vcs/usr/share/doc/vcs/.
	$(INSTALL_DATA) debian/changelog \
		debian/vcs/usr/share/doc/vcs/changelog
	gzip -9 debian/vcs/usr/share/doc/vcs/changelog*
	$(MAKE) DESTDIR=`pwd`/debian/vcs installdirs install
	strip --remove-section=.comment debian/vcs/usr/bin/vcs
	gzip -9f debian/vcs/usr/share/man/man*/*
	dpkg-shlibdeps -Tdebian/substvars.vcs \
		debian/vcs/usr/bin/*
	cd debian/vcs && \
		find -name DEBIAN -prune -o -type f -print \
			| sed 's/^\.\///' \
			| xargs md5sum > DEBIAN/md5sums
	dpkg-gencontrol -isp -pvcs -Pdebian/vcs -Tdebian/substvars.vcs
	chown -R root:root debian/vcs
	chmod -R g-ws debian/vcs
	dpkg --build debian/vcs ..

binary: binary-arch binary-indep
binary-arch: pkg-vcs
binary-indep: 

clean:
	if test -f Makefile; then $(MAKE) distclean; fi
	rm -f config.cache
	rm -f debian/files
	rm -f debian/substvars.*
	rm -rf debian/vcs

.PHONY: build clean pkg-vcs binary binary-arch binary-indep
